<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Site - <%= title %></title>
</head>
<body>
  <header>
    <div class="logo">
        <a href="/"><img src="/images/logo.webp" width="175px"></a>
    </div>
    <h1>Shopping site - <%= title %></h1>
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            
            <!-- Conditional Links -->
            <% if (user) { %> <!-- If the user is logged in -->
                <% if (user.isAdmin) { %> <!-- If the user is an admin -->
                    <li><a href="/admin">Admin Dashboard</a></li>
                    <li><a href="/admin/products">Products</a></li>
                <% } %>
                <li><a href="/account/myaccount">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %> <!-- If the user is not logged in -->
                <li><a href="/account/login">Login</a></li>
                <li><a href="/account/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header>

    </nav>
  </header>

  <main>
    <%- body %>
  </main>

  <footer>
    <p>&copy; 2024 Isak Grönlund. Licenced with MIT.</p>
  </footer>
</body>
</html>