<div class="container">
  <h1>About Us</h1>
  <p>This is a testing enviroment for <a href="https://www.github.com/Grizak" target="_blank">Grizak</a></p>
  <p>This websites purpose is for me (<a href="https://www.github.com/Grizak" target="_blank">Grizak</a>) to try out new functionality and skills and then practice those skills. You can find the github repo <a href="https://github.com/Mobiledevs69/shopping-site" target="_blank">here</a>.</p>
  <h2>Contact Us</h2>
  <p>If you have any questions, feel free to <a href="/contact">reach out</a>.</p>
</div>